*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.sobretopo{
	background-color:#fff;
	height: 30px;
}
.cabecalho{
    background-color:#fff;
	height: 180px;
}

.barramenu{
    background-color:#132e57;
	height: 50px;
	border-bottom: 2px solid #00afef;
}


.barramenu ul,
.barramenu li {
	margin:0;
	padding:0;
	list-style:none;
}
.barramenu li {
	float:left;
	padding-left:10px;
	padding-right:10px;
	line-height: 50px;
	font-size:14px;
	cursor:pointer;

}


.barramenu a{
text-decoration: none;
color: #fff;
}

.barramenu li:hover {
	background-color:#1f4784;

}

.cabecalho .logo{
	height: 60px;
}

.logo-direito{
	margin-top: 30px;
}
.logo-esquerdo{
	margin-top: 50px;
	float: right;
	width: 100%;
	max-width: 400px;
}


.carousel img{
	width: 100%;
}

.container-fluid{
	padding: 0;
}



.banner_pequeno{
	margin-top: 30px;
	text-align: center;
}
.banner_pequeno img{
	width: 100%;
}

.brasao{
	margin-top: 30px;
}

.brasoes{
	margin: 0;
	padding: 0;
	list-style: none;

}

.brasoes li{
	display: inline;
	padding-left:10px;
	padding-right:10px;
	line-height: 50px;
	font-size:14px;
	cursor:pointer;

}

.brasoes li img{
	width: 6%;
}



.img_banner{
	box-shadow: 1px 1px 2px 0.5px;
}

.noticia_letra{
	margin-top: 30px;
}

.noticia_letra h1{
	border-bottom: 3px solid #00afef;
	color: #212529;
}

.banner_noticia{

	background-color: #132e57;
	height: 500px;
	width: 100%;
	/* max-width:1420px; */
}



.legenda_noticia{
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: justify;
	
}

.menu-bola{
	height: 250px;
	border-radius: 50%;
	background-color: #263859;
	
}

.bola-tam{
	width: 800px;
	margin-left: 500px;

}

.colunas-not{
	margin-left: 300px;
	padding: 20px;	
	width: 100%;
	max-width: 1500px;
	
	
}

div div .card-body2{
margin: auto;
background-color: #fff;
max-width: 1260px;
width: 100%;
}


div .card-text{
	text-align: center;
}





.left{
	margin-left: 100px;
}


.left img{
width: 400px;
margin-top: 40px;

}


.right h3{
	font-size: 17px;
    line-height: 24px;
    color: #fff;
}

.right{
	margin-right: 100px;
	margin-top: -60px;
	float: right;
	color: #fff;
	text-align: right;
}



.rodape{
	border-top: 2px solid #00afef;
	background-color: #212529;
	height: 350px;
	width: 100%;
}